.friend-meta {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 2rem;
}

@media only screen and (max-width: 500px) {
    .friend-meta {
        margin-left: 1.5rem;
    }
}